<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Contactar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-list [inset]="true">
    <ng-container *ngIf="customMessages.length > 0; else noMessages">
      <ion-item-sliding *ngFor="let message of customMessages; let i = index" #slidingItem>
        <ion-item [button]="true">
          <ion-label>{{ message.text }}</ion-label>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="success" (click)="seleccionarMensaje(message.text)">
            <ion-icon slot="icon-only" name="thumbs-up-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="warning" (click)="toggleEditInput(i, slidingItem)">
            <ion-icon slot="icon-only" name="share"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true" (click)="confirmDeleteMessage(i)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item *ngIf="message.isEditing">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-textarea rows="5" [(ngModel)]="message.text"></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" (click)="confirmEditMessage(i)">Confirmar</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="light" (click)="cancelEditMessage(i)">Cancelar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
  <ng-template #noMessages>
    <span> Aún no tienes mensajes personalizados. Intenta agregando uno. </span>
  </ng-template>

  <ion-item *ngIf="isAddingNewMessage">
    <ion-input placeholder="Nuevo mensaje" [(ngModel)]="newMessageText"></ion-input>
  </ion-item>
  <ion-button
    [expand]="!isAddingNewMessage ? 'block' : undefined"
    (click)="isAddingNewMessage ? addMessage() : enableAddMessage()"
  >
    <ion-icon *ngIf="!isAddingNewMessage" name="add-outline"></ion-icon>
    {{ isAddingNewMessage ? 'Guardar' : 'Agregar mensaje' }}
  </ion-button>
  <ion-button *ngIf="isAddingNewMessage" (click)="cancelAddMessage()" color="danger">Cancelar</ion-button>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea rows="5" [(ngModel)]="selectedMessage"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-note-responsive">
    <ion-note color="medium" class="ion-margin-horizontal">
      Puedes seleccionar un mensaje o escribir uno personalizado
    </ion-note>
  </div>

  <ion-button id="open-toast" expand="block" (click)="goToSendMessage()">Enviar mensaje</ion-button>
</ion-content>
