<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Atras</ion-back-button>
    </ion-buttons>
    <ion-title>Prospectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <div *ngFor="let group of groupedContacts | keyvalue">
    <h2 class="contact-letter">{{ group.key }}</h2>
    <ion-list>
      <ion-item *ngFor="let contact of group.value" (click)="onContactClick(contact)">
        <ion-avatar slot="start">
          <img src="{{ contact.photo }}">
        </ion-avatar>
        <ion-label>
          <h2>{{ contact.name }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addContact()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>