<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Atras</ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Prospecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contact-detail">
    <div class="contact-avatar">
      <ion-avatar>
        <img src="{{ contact.photo }}">
      </ion-avatar>
    </div>
    <h2>{{ contact.name }}</h2>
    <div class="actions">
      <ion-button color="success" (click)="openWhatsApp(contact)"><ion-icon
          name="logo-whatsapp"></ion-icon></ion-button>
      <ion-button color="primary" (click)="sendEmail(contact)"><ion-icon name="mail"></ion-icon></ion-button>
      <ion-button color="tertiary" (click)="editContact(contact)"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="danger" (click)="deleteContactAlert(contact)"><ion-icon
          name="trash-outline"></ion-icon></ion-button>
    </div>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>
            <p>Telefono</p>
            <h2>{{ formatPhoneNumber(contact.phone) }}</h2>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon name="call-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>Correo</p>
            <h2>{{ contact.email}}</h2>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon name="mail-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button color="tertiary" (click)="goToSeguimiento(contact)">Dar
      seguimiento <ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
  </div>
</ion-content>