<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Seguimiento Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title class="card-title">{{ contact.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="profile-section">
      <ion-avatar>
        <img [src]="contact.photo" alt="Profile Picture" />
      </ion-avatar>
    </div>
    <div class="status-section">
      <p>{{ taskUser.firstNameTask }}</p>
      <ion-progress-bar [value]="taskUser.firstValueBarTaks" color="success"></ion-progress-bar>
      <p>{{ taskUser.firstPercentageTask }}%</p>
    </div>
    <ion-button expand="full" (click)="handleButtonClick(taskUser.nextStatusTask)">
      Avanzar a {{ taskUser.nextNameTask }}
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="task-status">
        <ion-list>
          <ion-list-header color="tertiary">
            <ion-label>Completado ({{ taskCounterCompleted }} de {{ taskCounter }})</ion-label>
          </ion-list-header>

          <ion-item *ngFor="let task of tasks">
            <ion-icon
              [name]="task.statusTask < taskCounterCompleted ? 'checkmark-circle-outline' : 'close-circle-outline'"
              [color]="task.statusTask < taskCounterCompleted ? 'success' : 'danger'" slot="start">
            </ion-icon>
            <div class="status-container">
              <span>{{ task.nameTask }}</span>
              <ion-progress-bar value="1" [color]="task.statusTask < taskCounterCompleted ? 'success' : 'danger'">
              </ion-progress-bar>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>