<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Seguimiento Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title class="card-title">{{ infoContacto.contacto?.nombre || 'Nombre Contacto no disponible' }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="profile-section">
      <ion-avatar>
        <img [src]="infoContacto.contacto?.foto || 'assets/img/user1.png'" alt="Profile Picture" />
      </ion-avatar>
    </div>
    <div *ngIf="!isCompletedEtapa; else showSectionCompleted">
      <div class="status-section">
        <p>{{ descripcionEtapas?.descripcionEtapa?.nombreEtapaActual || 'Nombre Etapa no disponible' }}</p>
        <ion-progress-bar [value]="descripcionEtapas?.descripcionEtapa?.valorBarEtapaActual || '0'" color="success"></ion-progress-bar>
        <p>{{ descripcionEtapas?.descripcionEtapa?.porcentajeEtapaActual || '0' }}%</p>
      </div>
      <ion-button expand="block" [disabled]="isBtnDisabledNext" (click)="showAlertStatus(infoContacto.contacto?.etapaAnterior||0, infoContacto.contacto?.etapaActual||0, infoContacto.contacto?.etapaSiguiente||0, true)">
        {{ descripcionEtapas?.descripcionEtapa?.nombreEtapaSiguiente || 'Etapa no disponible' }}
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
      <ion-button expand="block" fill="outline" [disabled]="isBtnDisabledBack"
                  (click)="showAlertStatus(infoContacto.contacto?.etapaAnterior||0, infoContacto.contacto?.etapaActual||0, infoContacto.contacto?.etapaSiguiente||0, false)">
        <ion-icon name="chevron-back-outline"></ion-icon>
        {{ descripcionEtapas?.descripcionEtapa?.nombreEtapaAnterior || 'Etapa no disponible' }}
      </ion-button>
    </div>
    <ng-template #showSectionCompleted>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title class="centered-title">Completado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="block" shape="round" (click)="desbloquearEtapas()">Desbloquear Etapas</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-card-content>
</ion-card>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="task-status">
        <ion-list>
          <ion-list-header color="tertiary">
            <ion-label>Completado ({{ taskCounterCompleted }} de {{ taskCounter }})</ion-label>
          </ion-list-header>

          <ion-item *ngFor="let task of tasks">
            <ion-icon
              [name]="task.statusTask < taskCounterCompleted ? 'checkmark-circle-outline' : 'close-circle-outline'"
              [color]="task.statusTask < taskCounterCompleted ? 'success' : 'danger'" slot="start">
            </ion-icon>
            <div class="status-container">
              <span>{{ task.nameTask }}</span>
              <ion-progress-bar value="1" [color]="task.statusTask < taskCounterCompleted ? 'success' : 'danger'">
              </ion-progress-bar>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
