<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Hola, Fulanito!</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let module of modules">
        <ion-card (click)="navigateTo(module.path)">
          <ion-card-content>
            <ion-icon [name]="module.icon" slot="start"></ion-icon>
            {{ module.text }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
